@font-face {
    font-family: 'CeraPro';
    font-weight: 400;
    src: url('fonts/CeraPro-Regular.woff2') format('woff2'), url('fonts/CeraPro-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 500;
    src: url('fonts/CeraPro-Regular.woff2') format('woff2'), url('fonts/CeraPro-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 600;
    src: url('fonts/CeraPro-Regular.woff2') format('woff2'), url('fonts/CeraPro-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 700;
    src: url('fonts/CeraPro-Bold.woff2') format('woff2'), url('fonts/CeraPro-Bold.ttf') format('TrueType');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 800;
    src: url('fonts/CeraPro-Regular.woff2') format('woff2'), url('fonts/CeraPro-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 900;
    src: url('fonts/CeraPro-Bold.woff2') format('woff2'), url('fonts/CeraPro-Bold.ttf') format('TrueType');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'CeraPro', sans-serif;
    height: 100vh;
    background: #FFFFFF;
}

header {
    margin-top: 26px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 53px;
    border-bottom: 0.3px solid #46A35880;
}

.logo {
    display: inline-block;
    margin: 1px 229px 18px 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 6px 370px 0 0;
}

.menu__item:nth-last-child(2) {
    width: 80px;
    margin-right: -2px;
}

.menu__item {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
    text-decoration: none;
    margin-right: 43px;
    margin-left: 0;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__hover:hover {
    border-bottom: 2px solid #46A358;
    font-weight: 700;
    font-size: 16px;
}

.menu:hover ul {
    display: flex;
    flex-direction: column;
}

.hidden__menu li a {
    margin-left: 14px;
}

.hidden__menu li {
    display: flex;
    align-items: center;
    width: 188px;
    height: 35px;
}

.hidden__menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
}

.menu > li {
    position: relative;
}

.menu > li > .hidden__menu {
    position: absolute;
    top: 100%;
    right: -55px;
    display: none;
    background-color: #EDF6EE;
    width: 188px;
    height: 143px;
    list-style: none;
}

.menu > li:hover > .hidden__menu {
    z-index: 1;
    display: block;
}

.hidden__menu li:hover {
    background-color: #1A712A;
}

.hidden__menu li:hover .hidden__menu__hover {
    color: #FFFFFF;
    font-weight: 700;
}

.hidden__menu__arrow {
    margin-left: 89px;
}

.hidden__menu li .hidden__menu__arrow__hover {
    display: none;
    margin-left: 87px;
}

.hidden__menu li:hover .hidden__menu__arrow {
    display: none;
}

.hidden__menu li:hover .hidden__menu__arrow__hover {
    display: inline-block;
}

.menu > li > .hidden__menu > li {
    position: relative;
}

.menu > li > .hidden__menu > li > ul {
    position: absolute;
    top: -93px;
    right: -188px;
    display: none;
    background-color: #EDF6EE;
    width: 188px;
    height: 215px;
    list-style: none;
}

.menu > li:hover > .hidden__menu > li:hover > ul {
    z-index: 1;
    display: block;
}

.hidden__menu li ul li:hover a {
    color: #FFFFFF;
    font-weight: 700;
}

.hidden__menu li:hover {
    background-color: #1A712A;
}

.hidden__menu a:hover {
    font-weight: 700;
    color: #FFFFFF;
}

.login {
    display: inline-block;
    margin: 0;
}

.login-btn {
    display: inline-block;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.btn-icon {
    vertical-align: middle;
}

.header_line {
    display: inline-block;
    color: blue;
}


.btn-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
}

.main-content {
    margin-top: 12px;
    display: inline-block;
    white-space: nowrap;
    background-color: #F5F5F580;
}

.main-description {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    white-space: normal;
}

.welcome {
    display: inline-block;
    margin-top: 68px;
    margin-left: 43px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
    text-transform: uppercase;
}

.title {
    margin: 7px auto 0 40px;
    width: 530px;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
}

.title-green {
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #46A358;
}

.description {
    display: inline-block;
    margin-left: 43px;
    margin-top: 5px;
    width: 557px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
}

.order-btn {
    margin: 44px auto 0 44px;
    border: none;
    border-radius: 6px;
    background-color: #46A358;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
}

.image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 450px;
    text-align: right;
}

.image img {
    display: inline-block;
    vertical-align: bottom;
}

.plant {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
}

.small-plant {
    position: absolute;
    bottom: 20px;
    right: 330px;
    height: auto;
}

.main__products {
    display: flex;
    justify-content: space-between;
}

.categories {
    background-color: #F5F5F580;
    width: 310px;
    height: 774px;
    margin-top: 44px;
}

.products__navigation {
    background-color: #F5F5F580;
    display: flex;
    padding: 0;
    width: 838px;
    height: 23px;
    margin-top: 43px;
}

.navigation__list {
    margin: 0;
    display: flex;
    list-style: none;
    gap: 39px;
}

.navigation__list a {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}

.navigation__list .category-active {
    color: #46A358;
}

.products {
    background-color: #F5F5F580;
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 1190px;
    margin-top: 31px;
    column-gap: 33px;
    row-gap: 70px;
}

.product__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 350px;
}

.hidden__buttons {
    display: none;
    width: 125px;
    height: 35px;
    align-items: center;
    position: absolute;
    bottom: 55px;
    left: 71px;
    gap: 26px
}

.product__card:hover {
    border-top: 1px solid #46A358;
}

.product__card:hover .hidden__buttons {
    display: flex;
}

.categories__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 14px;
    margin-left: 16px;
}

.categories__list__container {
    margin-top: 14px;
    margin-left: 3px;
}

.categories__list {
    margin-top: 5px;
    margin-left: 27px;
    padding: 0;
    width: 91px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation__list .navigation-active {
    color: #46A358;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
    padding-bottom: 3px;
}

.categories__list a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.categories__list .categories-active {
    color: #46A358;
    font-weight: 700;
}

.sale-banner {
    margin-top: 375px;
    /*align-self: flex-end; долго мучался так и не понял почему не работает*/
    width: 310px;
    height: 470px;
}

.navigation__sort {
    margin-left: 386px;
}

.navigation__sort label {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
}

.navigation__sort select {
    color: #3D3D3D;
    background-color: #F5F5F580;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    border: none;
    outline: none;
}

.navigation__sort option {
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.product__img {
    margin-top: 34px;
    margin-right: 4px;
    background-color: #F5F5F580;
    height: 250px;
    width: 250px;
}

.product__name {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
}

.product__price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
}

.product__price__discount {
    position: absolute;
    bottom: -2px;
    left: 78px;
    text-decoration: line-through;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: #A5A5A5;
}

.product__percent__discount {
    position: absolute;
    top: 16px;
    left: -1px;
    display: flex;
    justify-content: center;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    width: 80px;
    height: 29px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
}


.product__pages {
    margin: 92px auto 95px auto;
    display: flex;
    justify-content: flex-end;
}

.page__list {
    display: flex;
    gap: 9px;
}

.page__list li {
    display: flex;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.page__list a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    align-items: center;
    justify-content: center;
}

.page__list .pages_active a {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
}

.page__list .pages_active {
    background-color: #46A358;
}

.products__description {
    display: flex;
    justify-content: space-between;
    height: 302px;
    align-items: flex-end;
    margin-bottom: 136px;
}

.products__description__container {
    display: flex;
    justify-content: flex-end;
    background-color: #FBFBFB;
    width: 586px;
    height: 250px;
}

.products__information {
    display: flex;
    flex-direction: column;
}

.products__information__title, .products__information__description {
    text-align: right;
    line-height: 24px;
}

.products__information__title {
    margin: 36px 50px 9px auto;
    width: 160px;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.products__information__description {
    width: 292px;
    margin: 0 30px 23px auto;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
}

.find-more__btn {
    margin: 0 54px 46px auto;
    display: flex;
    justify-content: center;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
}

.products__info__images {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 287px;
    height: 292px;
    margin-bottom: 10px;
    background-color: #F5F5F580;
}

.section__blog {
    height: 447px;
}

.section__blog__container {
    display: flex;
    flex-direction: column;
}

.blog__title {
    align-self: center;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    margin-bottom: 15px;
    margin-left: 16px;
}

.blog__description {
    align-self: center;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 31px;
}

.section__blog__info {
    display: flex;
    justify-content: space-between;
}

.blog__card {
    width: 268px;
    height: 167px;
}

.blog__card__text {
    background-color: #FBFBFB;
}

.read__more__btn {
    margin: 9px auto 13px 13px;
    width: 89px;
    height: 17px;
    display: flex;
    justify-content: center;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    gap: 1px;
    text-decoration: none;
}

.read__more__btn__svg {
    margin: 2px 0 0 2px;
}

.read__more__btn:hover {
    color: #46A358;
}

.blog__card__date {
    margin-left: 14px;
    margin-top: 9px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #46A358;
}

.blog__card__date2 {
    margin-left: 5px;
    margin-top: 9px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #46A358;
}

.blog__card__title {
    margin: 3px auto 4px 14px;
    width: 202px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
}

.blog__card__description {
    display: flex;
    margin-left: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.footer {
    margin-top: 100px;
    height: 610px;
}

.footer__container {
    padding-top: 24px;
    background-color: #FBFBFB;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: auto 24px 24px 24px;
}

.footer__info__card {
    width: 204px;
    height: 202px;
}

.footer__info__email {
    margin-left: 32px;
    width: 354px;
    height: 202px;
}

.footer__info__title {
    margin: 10px auto 9px auto;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}

.footer__info__email_title {
    margin: 13px auto 9px auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}

.footer__email__description {
    display: block;
    width: 354px;
    height: 89px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
}

.footer__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
}


.footer__email-form {
    display: flex;
    width: 354px;
    height: 40px;
    margin: 25px auto 18px auto;
}

.footer__email-form__input {
    display: flex;
    width: 255px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 6px 0 0 6px;
    background: #FFFFFF;
    color: #ACACAC;
}

.footer__email-form__btn {
    width: 85px;
    height: 40px;
    border: none;
    outline: none;
    background: #46A358;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    transition: background 0.3s ease;
}

.footer__email-form__btn:hover {
    background: #4cae4c;
}

.footer__gradient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    padding-right: 22px;
    height: 88px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
}

.footer__logo {
    width: 150px;
    height: 34px;
}

.footer__gradient__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.footer__location {
    width: 205px;
}

.footer__gradient__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3D3D3D;
}

.footer__navigation {
    display: flex;
    height: 236px;
    padding-left: 25px;
    /*justify-content: space-between;*/
    align-items: center;
    border-bottom: 0.3px solid #46A35833;
}

.footer__navigation__account {
    width: 100px;
    height: 174px;
}

.footer__navigation__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}

.footer__navigation__list {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 4px;
}

.footer__navigation__help {
    width: 137px;
    height: 174px;
    margin-left: 164px;
}

.footer__navigation__categories {
    width: 93px;
    height: 174px;
    margin-left: 129px;
}

.footer__navigation__social {
    width: 224px;
    height: 174px;
    margin-left: 173px;
}

.footer__social__list {
    width: 190px;
    margin: 20px 0 26px 0;
    display: flex;
    gap: 10px;
    list-style: none;
}

.footer__social__list img {
    width: 30px;
    height: 30px;
}

.payment_methode {
    margin-top: 10px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #3D3D3D;
}